<div class="text-center text-crimson mb-5" style="font-size:2.5rem; max-width:65%; margin:auto">Guarda els teus llocs preferits per fer una pausa, llegir, treballar... i les rutes per on t'agrada passejar</div>
<div class="d-flex justify-content-center">
    <a routerLink="/punts" class="me-3 me-sm-4 me-md-5" style="position:relative; width: 35%">
        <img alt="senyor" src="./assets/images/senyor-lector.png" style="width:100%">
        <span class="img-text text-center text-dark" style="position:absolute; max-width: 50%; top: 18%; right:15px; font-size:1.2em">Llocs per estar tranquil</span>
    </a>
    <a routerLink="/rutes" class="" style="position:relative; width: 35%">
        <img alt="senyor" src="assets/images/senyor-pg.png" style="width:100%">
        <span class="img-text text-dark fw-bold" style="position:absolute; top: 18%; right:15px; font-size:1.2em">Rutes per passejar</span>
    </a>
</div>